@temporafugiunt:registry=https://npm.pkg.github.com/temporafugiunt
@temporafugiunt:username=temporafugiunt
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org